<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>mypack.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProfileController</servlet-name>
  	<display-name>ProfileController</display-name>
  	<description></description>
  	<servlet-class>mypack.ProfileController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddProjectController</servlet-name>
  	<display-name>AddProjectController</display-name>
  	<description></description>
  	<servlet-class>mypack.AddProjectController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewAllProjects</servlet-name>
  	<display-name>ViewAllProjects</display-name>
  	<description></description>
  	<servlet-class>mypack.ViewAllProjects</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewProject</servlet-name>
  	<display-name>ViewProject</display-name>
  	<description></description>
  	<servlet-class>mypack.ViewProject</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchByNameController</servlet-name>
  	<display-name>SearchByNameController</display-name>
  	<description></description>
  	<servlet-class>mypack.SearchByNameController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchByBackendController</servlet-name>
  	<display-name>SearchByBackendController</display-name>
  	<description></description>
  	<servlet-class>mypack.SearchByBackendController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchByFrontendController</servlet-name>
  	<display-name>SearchByFrontendController</display-name>
  	<description></description>
  	<servlet-class>mypack.SearchByFrontendController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchByUseridController</servlet-name>
  	<display-name>SearchByUseridController</display-name>
  	<description></description>
  	<servlet-class>mypack.SearchByUseridController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProfileController</servlet-name>
  	<url-pattern>/ProfileController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddProjectController</servlet-name>
  	<url-pattern>/AddProjectController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewAllProjects</servlet-name>
  	<url-pattern>/ViewAllProjects</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewProject</servlet-name>
  	<url-pattern>/ViewProject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchByNameController</servlet-name>
  	<url-pattern>/SearchByNameController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchByBackendController</servlet-name>
  	<url-pattern>/SearchByBackendController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchByFrontendController</servlet-name>
  	<url-pattern>/SearchByFrontendController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchByUseridController</servlet-name>
  	<url-pattern>/SearchByUseridController</url-pattern>
  </servlet-mapping>
</web-app>
